img{
    height: 120px;
}
body{
    background-color: rgb(78,1 ,25 );

}
table, th, tr, td{
    border-color: aliceblue;
    color: white;
}
h1, h2{
    color:white;
    align-items: center;
    text-align: center;
}


